

body {
    font-family : arial, sans-serif;
    margin: 0px;
    width: 100%;
  }


.toptitle {
    font-size: 20px;
    font-family: arial, sans-serif;
    font-weight: bold;
    color: black;
    padding-left: 20px;
  }


.topbottomtitle {
    font-size: 12px;
    font-family: arial, sans-serif;
    font-weight: normal;
    color: black;
  }


.toolbarlink {
    color: black;
    text-decoration: none;
    padding-left: 4px;
  }


.toolbarimgtd {
    padding-left: 10px;
  }


.toolbartxttd {
    padding-top: 3px;
  }


.filepanenamebar {
    color: black;
    font-weight: normal;
    font-size: 25px;
  }


.filepanetitlebar td {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }

.filenamelink {
    color: black;
    text-decoration: none;
  }
  
.folderlink {
    color: black;
    text-decoration: none;
  }

.fileactionlink {
    color: black;
    text-decoration: none;
  }
  
.sharingformlink {
    color: #444444;
    text-decoration: none;
  }
  
.sharingformlink:hover {
    color: #000000;
    text-decoration: underline;
  }
  
.bh_folderpane_classtitle {
    text-align: center;
    font-weight: bold;
  }
  
  a { color: #336699; text-decoration:none; }
a:hover { color: #336699; text-decoration:underline; }